<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Online Banking ..</title>
<link href="style.css" rel="stylesheet"  type="text/css">
<script type="text/javascript">
function ctck()
{
var sds = document.getElementById("dum");

}
</script>

</head>


<body style="background-color: rgba(55, 139, 154, 0.221);>

<div id="top_links">
  

<div id="header">
	<h1><center><font style="font-size: xx-large;">Online Banking System<span class="style1"></span></font></center></h1>
	<h1><center>KOTAK BANK<span class="style1"></span></center></h1>
    <h2>CUSTOMER SERVICES</h2>	

</div>

<div id="navigation">
    <ul>
	<li><a href="create1.html">NEW CUSTOMER</a></li>
    <li><a href="home.jsp">HOME</a></li>
    <li><a href="login.html">LOGIN</a></li>
    <li><a href="investors.jsp">INVESTORS</a></li>
    <li><a href="about.jsp">ABOUT US</a></li>
    <li><a href="contact.jsp">CONTACT US</a></li>
    <li><a href="advertisement.jsp">ADVERTISEMENT</a></li>
    </ul>
</div>

<table cellpadding="0" cellspacing="0" id="content1"><tr align="justify">
	<td class="con" valign="top">
    	<div id="heade1"><h1>OUR FRIENDS AT KOTAK</h1></div>
        <p>Please let this page serve as a guide to outline just some of the countless ways you have helped further our work and fulfill our mission.</p>
    </td>
    
    
    
<table style="width:897px; background:#FFFFFF; margin:0 auto;"><tr align="justify">
	<td width="299" valign="top" style="border-right:hsl(0, 16%, 4%) 1px dotted;">
    	<div id="services"><h1>Services</h1><br>
		    <ul>
        	<li><a href="#">www.javatpoint.com</a></li>
            <li><a href="#">www.javacstpoint.com </a></li>
            <li><a href="#">www.javatpoint.com/forum.jsp</a></li>
            </ul>
			
       </div>
	</td>
    
    <td width="299" valign="top">
    	<div id="welcome" style="border-right:#666666 1px dotted;"><h1>Welcome</h1><br>
    	    <center><img src="bank1.jpg" alt="Business" width="196" height="106"></center><br>
		    <p>In November of 2005, KOTAK Bank ended the homelessness of a family previously living in Heading Home shelters; that wasn’t all! As a beautiful surprise for the teenage son, and all who have witnessed since, KOTAK Bank arranged for Sony Michel to make an appearance at the Up & Out reveal. Read more about the amazing KOTAK Bank | Sony Michel Up & Out here and watch the moving and emotional video of the special move here.</p>
	    	
	    </div>      
    </td>
    
    <td width="299" valign="top">
   	  <div id="news"><h1>News &amp; Events</h1><br>
      	<div class="img"><img src="bank3.jpg" alt="Business"></div>
        <h2>Nov. 17, 2020.</h2>
        <p>As COVID-19 set in, our clients faced job loss, food insecurity, and the added demands of homeschooling their children in shelter. Team KOTAK recognized the needs of our community, and without hesitation, you answered the unspoken call to action. KOTAK Bank hosted a peer-to-peer corporate fundraising campaign in June; employees raised over 3 lakh 20 thousad, which was doubled to nearly 7 lakh as part of our May Campaign, to provide extra nourishment and support for families and individuals living in Heading Home shelters during the pandemic.</p><br>
        <div class="img"><img src="bank4.jpg" alt="Business"></div>
        <h2>Nov. 20, 2021.</h2>
        <p>KOTAK WAS HAVING BOOMING SHARE MARKET.</p>
      
      </div>
        	
     </td>
</tr></table>

<div id="footer_top">
  <div id="footer_navigation">
  

  </div>
  
  <div id="footer_copyright" >
 
    	    <center><img  alt="business"  width="196" height="106"></center><br>
		    <p>Thank you to all of our friends at KOTAK Bank & Trust Company!
                We are endlessly grateful for your compassionate leadership, your steadfast support, and dedicated advocacy. Thank you for lending your hands up and standing tall with our clients as they fight to move up and out of homelessness.</p>
	  
  Copyright © KOTAK00</div>
</div>

<script type="text/javascript">
document.onload = ctck();
</script>
</div>
</body>
</html>
© 2022 JAYESH ABHISHEK JUHI ROHIT
