<div class="container-fluid">
  <div>
    <img src="assets/img/home1.png" width="1470" height="700">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="assets/img/geo-alt.svg" height="37" width="37">
        <h5>Locate us</h5>
        <p>
            You are never too far away from quick, efficient banking services. Locate your nearest branch or an ATM.
        </p>
        <h6><a href="#">Locate now</a></h6>
      </div>
      <div class="col">
        <img src="assets/img/call-us.svg" height="35" width="33">
        <h5>Call us</h5>
        <p>
            In case you wish to speak to our phone banking officer for urgent resolution
        </p>
        <h6><a href="#">Find out more</a></h6>
      </div>
      <div class="col">
        <img src="assets/img/call-us.svg" height="35" width="33">
        <h5>Write to us</h5>
        <p>
            Be it an enquiry, feedback or a simple suggestion, write to us & we'll get back to you
        </p>
        <h6><a href="#">Click here</a></h6>
      </div>
    </div>
  </div>
</div>