<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/kotak/add1.jpg" alt="first slide" width="100%" height="700">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/kotak/add2.png" alt="second slide" width="100%" height="700">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/kotak/add3.jpg" alt="third slide" width="100%" height="700">
    </div>
  </ng-template>
</ngb-carousel>