<div>
  <div class="container-fluid">
    <h2 class="text-center">Our Story</h2>
    <p>From launching Kotak Mahindra Finance Ltd. in 1985 to becoming one of the country's most trusted financial institutions today, it's been quite a journey. </p>
    <p>Kotak Mahindra Group (Kotak) is a trendsetter in the Indian banking industry since its inception and continues to contribute to nation-building, as one of India's leading banking and financial services institutions.</p>
    <h4 class="text-center">Leading from the front</h4>
    <p>Our Group Management Council comprises some of the most prominent leaders in the world of finance. It is responsible for driving and overseeing Kotak Mahindra Group's growth charter.</p>
  </div>
  
  <hr/>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card border-info mb-3">
          <div class="card-body">
            <h5 class="card-title">Uday Kotak</h5>
            <h6 class="card-subtitle mb-2 text-muted">Managing Director and CEO, Kotak Mahindra Bank</h6>
            <p class="card-text">Uday Kotak, Founder and Managing Director &amp; CEO of Kotak Mahindra Bank, has led the group in a broad range of financial services for over 35 years. Uday believes that the true measure of performance is sustainable value creation. The Group's vision for equitable prosperity extends beyond financial services. The Kotak Education Foundation works with some of India's most economically underprivileged communities, attempting to alleviate poverty through education and livelihood programmes.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-info mb-3">
          <div class="card-body">
            <h5 class="card-title">Dipak Gupta</h5>
            <h6 class="card-subtitle mb-2 text-muted">Joint Managing Director, Kotak Mahindra Bank</h6>
            <p class="card-text">Dipak Gupta helms numerous functions including Vigilance, Internal Audit, Human Resources, IT including Cyber Security, Digital Initiatives, Customer Experience, Marketing &amp; Communications, Environment Social Governance (ESG) and Corporate Social Responsibility (CSR). Dipak has played a key role in building various businesses for Kotak Mahindra Group. He was instrumental in forging the partnership between Kotak Mahindra Finance Ltd (KMFL) and Ford Credit International to form Kotak Mahindra Primus Limited, of which he was the first CEO. Dipak was also responsible for setting up the retail business following the conversion of KMFL into a bank.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-info mb-3">
          <div class="card-body">
            <h5 class="card-title">Shanti Ekambaram</h5>
            <h6 class="card-subtitle mb-2 text-muted">Group President - Consumer Banking</h6>
            <p class="card-text">Shanti Ekambaram heads Consumer Banking and is focused on growing an integrated Consumer Banking Franchise across asset and liability products. Before taking over the reins of consumer banking, Shanti set up several businesses and was the head of the bank    's corporate and investment banking business.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-info mb-3">
          <div class="card-body">
            <h5 class="card-title">D Kannan</h5>
            <h6 class="card-subtitle mb-2 text-muted">Group President - Commercial Banking</h6>
            <p class="card-text">D Kannan heads one of the Strategic Business Units (SBU) of Kotak Mahindra Bank - the Commercial Banking business, since August 2014. His SBU encompasses Agri Finance, Commercial Vehicles, Construction Equipment, Tractor Finance, and Microfinance. In his near three decades at Kotak Mahindra Group, Kannan has spearheaded various businesses.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container-fluid">
    <h4 class="text-center">Kotak has evolved over the years...</h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <strong>1996</strong>
          <p>Kotak Mahindra takes a significant stake in Ford Credit Kotak Mahindra Ltd., for financing Ford vehicles.</p>
        </div>
        <div class="col">
          <strong>2003</strong>
          <p>KMFL becomes India   's first non-banking finance company to be converted into a commercial bank.</p>
        </div>
        <div class="col">
          <strong>2014</strong>
          <p>Innovative solutions such as Jifi and KayPay launched for digital and social media.</p>
        </div>
        <div class="col">
          <strong>2022</strong>
          <p>We have a lot more in store for you coming up this year.</p>
        </div>
      </div>
    </div>
  </div>
</div>