<div>
    <marquee><img src="assets/img/Kotak1.png" height="100" width="150"></marquee>
    
    <h1>About Us</h1>
<div >

    <h2>Our Story</h2>
    <p>From launching Kotak Mahindra Finance Ltd. in 1985 to becoming one of the country's most trusted financial institutions today, it's been quite a journey. </p>
    <p>Kotak Mahindra Group (Kotak) is a trendsetter in the Indian banking industry since its inception and continues to contribute to nation-building, as one of India's leading banking and financial services institutions.</p>
    <div class="container">
<h4>Leading from the front</h4>
<p>Our Group Management Council comprises some of the most prominent leaders in the world of finance. It is responsible for driving and overseeing Kotak Mahindra Group's growth charter.</p>

<hr/>
<hr/>

<strong><u>Uday Kotak</u></strong>
                    <p>Managing Director and CEO, Kotak Mahindra Bank</p> 
<div class="inner-text">
                    <p>Uday Kotak, Founder and Managing Director &amp; CEO of Kotak Mahindra Bank, has led the group in a broad range of financial services for over 35 years. Uday believes that the true measure of performance is sustainable value creation. The Group's vision for equitable prosperity extends beyond financial services. The Kotak Education Foundation works with some of India's most economically underprivileged communities, attempting to alleviate poverty through education and livelihood programmes.</p>
                    <p class="author">
                        Uday Kotak<span>Managing Director and CEO</span>
                    </p>
                </div>
<strong><u>Dipak Gupta</u></strong>
                    <p>Joint Managing Director, Kotak Mahindra Bank</p>
<div class="inner-text">
                    <p>Dipak Gupta helms numerous functions including Vigilance, Internal Audit, Human Resources, IT including Cyber Security, Digital Initiatives, Customer Experience, Marketing &amp; Communications, Environment Social Governance (ESG) and Corporate Social Responsibility (CSR). Dipak has played a key role in building various businesses for Kotak Mahindra Group. He was instrumental in forging the partnership between Kotak Mahindra Finance Ltd (KMFL) and Ford Credit International to form Kotak Mahindra Primus Limited, of which he was the first CEO. Dipak was also responsible for setting up the retail business following the conversion of KMFL into a bank.</p>
                    <p class="author">
                        Dipak Gupta<span>Joint Managing Director</span>
                    </p>
                </div>
                <hr/>
                <hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><u>Shanti Ekambaram</u><br>
</b>Group President - Consumer Banking</p>
<p>Shanti Ekambaram heads Consumer Banking and is focused on growing an integrated Consumer Banking Franchise across asset and liability products. Before taking over the reins of consumer banking, Shanti set up several businesses and was the head of the bank    's corporate and investment banking business.<br>
</p>
<p></p></div>
<hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><u>D Kannan</u><br>
</b>Group President - Commercial Banking<br>
</p>
<p>D Kannan heads one of the Strategic Business Units (SBU) of Kotak Mahindra Bank - the Commercial Banking business, since August 2014. His SBU encompasses Agri Finance, Commercial Vehicles, Construction Equipment, Tractor Finance, and Microfinance. In his near three decades at Kotak Mahindra Group, Kannan has spearheaded various businesses.</p>
<p></p></div>
<hr/>
                <div class="em-desc"><p class="share-comp-desc"></p><p><b><u>Gaurang Shah</u><br>
</b>Whole-time Director &amp; Group President&nbsp;</p>
<p>Gaurang Shah is a whole-time director on the board of Kotak Mahindra Bank. He oversees the Insurance, Asset Management including Alternate Assets and Asset Reconstruction businesses and is Non-Executive Director on the boards of the insurance, asset management and international business entities, which are wholly owned subsidiaries of Kotak Mahindra Bank. Gaurang has over 35 years of experience largely in financial services, of which over 23 years have been with the Kotak Mahindra Group.</p>
<p>&nbsp;</p>
<p></p></div>
<hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><u>Jaideep Hansraj</u><br>
</b>Managing Director &amp; Chief Executive Officer<br>
Kotak Securities</p>
<p><br>
Jaideep Hansraj recently assumed charge as MD &amp; CEO of Kotak Securities, the broking arm of Kotak Mahindra Group. He has been with Kotak for over two decades. Prior to this role, Jaideep was head of the Bank’s Wealth Management, Priority Banking and NR business. Under his leadership, Kotak Wealth Management has emerged as the leading wealth management firm in India and has won several accolades and recognition across the industry.<br>
</p>
<p></p></div>
<hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><u>Jaimin Bhatt</u><br>
</b>Group President &amp; Group Chief Financial Officer<br>
</p>
<p>Jaimin Bhatt spearheads Finance, Tax, Strategy, Legal, Secretarial &amp; Investor Relations and also oversees Operations and Facilities. He has been the Group CFO since 2003. He has over 36 years of experience in the financial sector, 26 years of which have been with the Kotak Mahindra Group.</p>
<p></p></div>
<hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><u>KVS Manian</u><br>
</b><span>Whole-time Director &amp; Group President - Corporate, Institutional, Investment Banking &amp; Wealth Management</span><b><br>
</b></p>
<p>KVS Manian heads Corporate, Institutional &amp; Investment Banking, and is building a high-quality corporate franchise that offers integrated corporate and investment banking solutions. He also oversees the Wealth Management business. Prior to this, Manian spearheaded the consumer banking business for about eight years.<br>
</p>
<p></p></div>
<hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><br><u>Nilesh Shah</u><br>
</b>Group President &amp; Managing Director&nbsp;- Kotak Mahindra Asset Management Company (KMAMC).</p>
<p>Nilesh brings more than 25 years of experience in financial and capital markets, and has managed funds across equity, fixed income securities and real estate for local and global investors. A gold medalist chartered accountant and a merit ranking cost accountant, Nilesh's hobbies include reading and educating investors on financial planning. He has co-authored a book on Financial Planning called "A Direct Take".<br>
</p>
<p>&nbsp;</p>
<p></p></div>
<hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><u>Paul Parambi</u><br>
</b>Group President &amp; Chief Risk Officer</p>
<p>Paul Parambi heads Risk Management for the Bank, and is responsible for embedding a common framework and practises for managing risk across the Bank. He is the convener of the Risk Management Committee, and is a member of the Credit Committee, Fraud Risk Management Committee and ALCO. Prior to this, Paul has handled several leadership roles within the Bank and the Group, including heading credit for the Consumer and Commercial Bank, heading Group Strategy, as also leading Kotak    's International Business.&nbsp;<br>
</p>
<p></p></div>
<hr/>
<div class="em-desc"><p class="share-comp-desc"></p><p><b><u>S. Sriniwasan</u>&nbsp;&nbsp;</b><br>
Managing Director <br>
Kotak Investment Advisors Limited</p>
<p>S. Sriniwasan (Srini) joined the Kotak Mahindra Group in 1993 and was part of the core team that built the Investment Banking franchise. Thereafter, he founded the Alternative Asset Management business, which presently manages capital for Private Equity, Infrastructure, Real Estate, Distressed/Special Situations, Listed Strategies as well as Investment Advisory for Private Clients &amp; Family Offices.<br>
</p>
<p></p></div>
<hr/>
                <div class="em-desc"><p class="share-comp-desc"></p><p><b><u>Virat Diwanji</u><br>
</b>Group President - Retail Liabilities &amp; Branch Banking<br>
</p>
<p>In his two and a half decade long innings at Kotak, Virat has led over 10 diverse business lines cutting across Assets and Liabilities. He took on the mantle of managing the branch banking business in November 2007. Some of his career milestones include managing the first JV of the Group with an overseas partner, Ford Credit as its Managing Director. In the recent past, Virat has successfully managed the integration of ING Vysya Bank    's retail distribution network with the branch banking network of Kotak.</p>
<p></p></div>
<hr/>
<div class="container">
    <h4 class="text-center">Kotak has evolved over the years...</h4>
                   <div class="container">
                        <div class="row">
                          <div class="col">
                            <strong>1996</strong>
                    <p>Kotak Mahindra takes a significant stake in Ford Credit Kotak Mahindra Ltd., for financing Ford vehicles.</p>
                          </div>
                          <div class="col">
                            <strong>2003</strong>
                    <p>KMFL becomes India   's first non-banking finance company to be converted into a commercial bank.</p>
                          </div>
                          <div class="col">
                            <strong>2014</strong>
                    <p>Innovative solutions such as Jifi and KayPay launched for digital and social media.</p>
                          </div>
                          <div class="col">
                            <strong>2022</strong>
                            <p>We have a lot more in store for you coming up this year.</p>
                          </div>
                        </div>
                      </div>
                    <div class="container">
<h2> &copy; Copyright Kotak Mahindra Bank Limited.</h2>
</div>
</div>
