<div class="container-fluid">
  <br />
  <div class="img1">
      <img src="assets/img/investor.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="assets/img/inves.png" >
  </div>
  <div class="text section">
      <div class="cmp-text">
          <p>
              <br>
              &nbsp; &nbsp; &nbsp;*Customer Assets include Advances and Credit Substitutes.
          </p>
          <p>&nbsp; &nbsp; &nbsp;^As per Basel III, including unaudited profits.
              <br>
              <br>
          </p>
      </div>
  </div>

  <div>
      <h3 class="text-center">Hello Investors, feel free to contact us on </h3>
  </div>
  <br />
  <div class="container-fluid">
      <div class="row">
        <div class="col">
          <img src="assets/img/envelope-paper.svg" height="37" width="37">
          <h5>Institutional Investors</h5>
          <h6>Email-<a href="investor.relations@kotak.com">investor.relations@kotak.com</a></h6>
        </div>
        <div class="col">
          <img src="assets/img/envelope-paper.svg" height="37" width="37">
          <h5>Retail Investors</h5>
          <h6>Email-<a href="investor.grievances@kotak.com">investor.grievances@kotak.com</a></h6>
        </div>
        <div class="col">
          <img src="assets/img/telephone.svg" height="35" width="33">
          <h5>Call Us on</h5>
          <p>
              Tel No - (022) 61661615*<br/>
              Fax No - (022) 67132403
          </p>
        </div>
      </div>
  </div>
  <div class="text section">
      <div class="cmp-text text-center">
          <p>
              <br>
              *Time : 10 A.M to  5 P.M (Monday to Friday)
          </p>
      </div>
  </div>
  <br />
</div>