<div class="img1">
    <img src="assets/img/kotak.jpg" height="200" width="200">
    <h3>INVESTOR</h3>
    <img src="assets/img/investor.png" >&nbsp;&nbsp;&nbsp;
    <img src="assets/img/inves.png" >
</div>
<hr/>
<div>
<div>
    <marquee><h3>Hello Investors, feel free to contact us on </h3></marquee>
</div>
<div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/img/i.svg" height="100" width="100">
        
       <h5>Institutional Investors
        Email </h5> 
        <a href="investor.relations@kotak.com">investor relation link</a>
      </div>
      <div class="col">
        <img src="assets/img/i.svg" height="100" width="100">
        <h5>Retail Investors
            Email</h5>
            <a href="investor.grievances@kotak.com ">investor grievances link</a>
      </div>
      <div class="col">
        <img src="assets/img/phone.webp" height="100" width="100">
       <h5>call-us on</h5> 
<p>Tel No - (022) 61661615*<br/>
    Fax No - (022) 67132403</p>

      </div>
    </div>
  </div>
</div>


