.img1{
    color: red;
    background-color:antiquewhite;
    width: 20;
    height: 30;
    text-align: center;
}
div {
    color: red;
    background-color:antiquewhite;
}
p {
    color:darkslategrey;
}
h3, h5, h6 {
    color: maroon;
}