<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="box">
        <h1>Login</h1>
        <form action="">
            <div class="field_box">
                <input type="text" class="form_input" autocomplete="off" required>
                <label for="" class="form_label">Customer-Id</label>
            </div>
            <div class="field_box">
                <input type="password" class="form_input" autocomplete="off" required>
                <label for="" class="form_label">Password</label>
            </div>
            <button type="submit">Sign in</button>
        </form>
     </div>
</body>
</html>