<div *ngIf="transaction">
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Account Number</th>
            <th>Amount</th>
            <th>Transaction Type</th>
            <th>Reference Number</th>
            <th>Date & Time</th>
        </tr>
    </thead>
    <!-- <tbody> -->
        <tbody class="tbody" *ngFor="let x of transaction">
            <td>{{x._id}}</td>
            <td>{{x.ac_number}}</td>
            <td>{{x.amount}}</td>
            <td>Debit</td>
            <td>{{x.ref_num}}</td>
            <td>{{x.date_time}}</td> 
        
    </tbody>
</table>

