
<div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Customer Password</h5>&nbsp;
           <form [formGroup] = "password" (ngSubmit) = "handleSubmit()">
            <div><label>Old Login Password: </label>  &nbsp;
             <input type = "password" formControlName = "old">&nbsp;<br/></div>&nbsp;
     <div>
             <label>New Login Password:</label>&nbsp;
             <input type = "password" formControlName = "new">&nbsp;
             </div> <hr/>   
             <input type = "Submit" value = "Update" class="btn btn-primary btn-sm">    
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transaction Password</h5>&nbsp;
          <form [formGroup] = "password" (ngSubmit) = "handleSubmit()" > 
            <div><label>Old Transaction Password: </label> &nbsp;
             <input type = "password" formControlName = "oldtransaction">&nbsp;<br/></div>&nbsp;
     <div>
             <label>New Transaction Password: </label>&nbsp;
             <input type = "password" formControlName = "newtransaction">&nbsp;
             </div> <hr/>
             <input type = "Submit" value = "Update" class="btn btn-primary btn-sm">
         </form> 
        </div>
      </div>
    </div>
  </div>
  


<div class="container-fluid">
    <form [formGroup] = "password" (ngSubmit) = "handleSubmit()">
        <label>New Password: </label>&nbsp;
        <input type = "password" formControlName = "pass">&nbsp;<br/>
        <input type = "Submit" value = "Update" class="btn btn-primary btn-sm">
    </form>
</div>