<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Got a question? Have a suggestion? Technical report? Send feedback to kotak.reply@gmail.com or leave us a message:</p>
    </div>
    <div class="justify-content:center">
        <form action="">
            <div>
                <label for="name">Name</label>
                <br />
                <input type="text" id="name" name="name" placeholder="Your name">
            </div>
            <div>
                <label for="email">Email Id</label>
                <br />
                <input type="text" id="email" name="email" placeholder="Your Email Id">
            </div>
            <div>
                <label for="subject">Subject</label>
                <br />
                <textarea id="subject" name="subject" placeholder="Write something" style="height:170px"></textarea>
            </div>
            <br />
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
  </div>